<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Tramitar compra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Css Files -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/plugins.css" rel="stylesheet" type="text/css">
        <link href="css/homePopup.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
        <link href="css/animate.css" rel="stylesheet" type="text/css">
          
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="js/script.js"></script>

    </head>
    
    <body>
        <!-- #page -->
        <div id="page">
        <!-- header section -->
            <div id="topping">*
            </div>
            <section id="top">
                <header> 
                    <div class="container">                                   
                        <!-- logo -->
                        <div id="logo">
                            <a href="#topping">Terapias<strong>Naturales</strong></a>
                        </div>
                        <!-- menu -->
                        <nav class="navmenu">
                            <ul>
                                <li class="scrollable"><a href="/">Bienvenidos</a></li>  
                                <li class="scrollable"><a href="#about">La consulta</a></li>
                                <li class="scrollable"><a href="#services">Servicios</a></li>
                                <li class="scrollable"><a href="#staff">Quien soy</a></li>
                                <li class="scrollable"><a href="#portfolio">Galería</a></li>
                                <li class="scrollable"><a href="#shop">Sacos Tao</a></li>          
                                <li class="scrollable"><a href="#contact">Contacto</a></li>
                            </ul>
                        </nav><!-- end menu --> 
                        <div class="clear">
                        </div>
                    </div>
                </header>               
            </section>
        </div>
            <main class="main-content">
                <div class="container">
                    <div class="page">
                        <h1>Pago validado. Gracias por su compra.</h2>
                    </div>      
                </div> <!-- .container -->
            </main>
    </body>

</html>